*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

p{
    margin-bottom: 3px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}
  
body{
    overflow-x: hidden;
    /* font: 400 1rem 'Nunito Sans', sans-serif; */
    font: 400 1rem 'Inter', sans-serif; /* p {margin bootom: 3px}*/
    /* font: 400 1rem 'BM Plex Mono', monospace; */
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
}

strong{
    color: rgb(45, 62, 141);
}

#header.scroll{
    box-shadow: 1px 1px 15px rgb(14, 4, 4);
}
/*====  VARIABLES ============================ */
:root {
    --header-height: 4.5rem;
  
    /* colors */
    --f-color: rgb(7, 11, 44);
    --pri-color: rgb(0, 7, 68);
    --sec-color: rgb(21, 2, 129);
    --ter-color: rgb(2, 5, 177);
    --quar-color: rgb(10, 34, 173);
    --quin-color: rgb(0, 81, 255);
    --sex-color: rgb(0, 110, 255);
    --sev-color: rgb(248, 251, 255);
    --back-color: rgb(41, 41, 41);
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }

/******  Estrutura  ******/
section img.patrocinio{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    max-width: 430px;
    max-height: 420px;
}

section img.produtos{
    width: 100%;
    left: 50%;
    top: 50%;
    margin-top: 30px;
    width: 100%;
    max-width: 430px;
    max-height: 550px;
}

section img.perfil{
    width: 100%;
    margin-top: 40px;
    max-width: 430px;
}

section img.batuka{
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
}

section img.turma{
    margin: 50px auto;
    margin-left: 2%;
    width: 100%;
    max-width: 800px;
}

/******  IMAGENS  ******/
.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 20px;
}

.w50{
    width: 50%;
    padding: 0 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.divider-1 {
    height: 4px;
    background: linear-gradient(
    270deg,
    rgb(34, 28, 122),
    rgb(204, 221, 244)
    );
  }

  .divider-2 {
    height: 4px;
    background: linear-gradient(
    270deg,
    rgb(204, 221, 244),
    rgb(43, 35, 160)
    );
  }

/****** Estilização do Site ********/
header{
    padding: 20px 0;
    background: rgb(1, 11, 34);
    z-index: 2;
    width: 100%;
    position: fixed;
}

header .logo img{
    width: 52px;
    height: 45px;
    margin-left: 30px;
    margin-top: -8px;
    margin-bottom: -10px;
    position: center;
}

nav.desktop ul{
    position: relative;
    top: 10px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 20px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    color: var(--quin-color);
    font-size: 16px;
    transition: 1s;
} 

nav .menu{
    opacity: 0;
    visibility: hidden;
    font-size: 1px;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul{
    display: none;
}

/**** mostrar menu ****/
 nav.show .menu{
    z-index: 4;
    opacity: 1;
    visibility: visible;

    background: rgb(179, 179, 179);

    height: 100%;
    width:  100%;
    position: fixed;

    top: 0;
    left: 0;
    display: grid;
    place-content: center;
} 

nav.show .menu ul{
    display: grid;
}

nav.show li{
    font: 700 var(--title-font-size) var(--title-font);
    -webkit-font-smoothing: auto;
    text-align: center;
    margin-top: 15%;
}

nav.show li a{
    color: rgb(0, 0, 0);
    transition: color 0.3s;
    position: relative;
}

nav.show li a:hover{
    color: rgb(39, 51, 114);
}

nav.show li a:after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(33, 55, 156);

    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 1s;
}

nav.show li a:hover::after{
    width: 100%;
}


/****** Toggle menu ******/
nav .close{
    visibility: hidden;
    opacity: 0;
    top: -1rem;
    position: absolute;
    font-size: 35px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

nav.show .close{
    visibility: visible;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
    right: 1.5rem;
    top: 1.5rem;
}

nav .open{
    visibility: hidden;
    opacity: 0;
    font-size: 25px;
    right: 1.5rem;
    color: white;
}
  
@media screen and (max-width: 950px){
    nav.desktop{
        display: none;
    }

    nav.menu{
        display: block;
    }  
    
    nav .open{
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        margin-right: 15px;
    }
    #store h4.title{
        margin: 0 4%;
    }
}

@media screen and (max-width: 950px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
    }
 
    .w50{
        width: 100%;
        padding: 20px;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }
    
    .box-principais{
        padding: 40px 20px;
        margin: 0;
    }
}
    /**** Final do Nav  ****/

section.banner-principal{
    width: 100%;
    height: 650px;
    background-image: url('../images/fotoback.png');
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(15, 15, 15, 0.842);
}

section.banner-principal .unimar{
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    color: white;
    width: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal .unimar h2{
    font-size: 89px;
    transition: 0.1s;
}

section.banner-principal .unimar h2:hover{
    font-size: 90px;
    color: rgb(235, 235, 255);
}

section.banner-principal .unimar h3{
    color: var(--quin-color);
    font-size: 73px;
}

section.banner-principal .unimar p{
    font-size: 20px;
    color: white;
}

/****** Risco  ******/
section.risco{
    height: 70px;
    width: 100%;
    background: rgb(29, 29, 70);
}

section.risco h1{
    color: white;
    text-align: center;
    padding-top: 20px;
}

/******  Pagina 2  ******/
section.descricao-autor{
    padding-top: 40px;
    background: #f1f1f1;
    padding-bottom: 60px;
}

section.descricao-autor h2{
    font-size: 50px;
    text-transform: uppercase;
    font: 700 var(--title-font-size) var(--title-font);
    padding-top: 50px;
    color: rgb(0, 0, 0);
}

section.descricao-autor p{
    font-size: 20px;
    margin-top: 8px;
    padding-left:  20px;
    color: rgb(0, 0, 0);
}

/***** Pagina 3 *****/
section.section{
    padding: 4rem 0;
    background: white;
    text-align: center;
}

section.section h2{
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

section p.principal{
    padding: 15px 40px;
    font-size: 16px;
}

section.section .cards{
    padding: 40px;
} 

section.section .card{
    padding: 3.625rem 2rem; 
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
    border-bottom: 0.25rem solid rgb(88, 118, 200);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
} 

section.section h3.title{
    font-size: 25px;
    font-weight: 900;
    padding: 17px 0;
} 

section.section h3.title a{
    transition: 0.3s;
    color: rgb(29, 55, 170);
}

section.section h3.title a:hover{
    font-size: 26px;
    color: rgb(8, 27, 90);
}

section.section .card i{
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: rgb(44, 72, 146);
}

/***** Pagina 4 *****/

#testimonials{
    background: rgb(236, 236, 236);
}

section h2.title{
    width: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}

section h2.lado{
    color: rgb(58, 57, 158);
    width: 30px;
    height: 30px;
    margin-top: -80px;
    margin-right: 8%;
}

#testimonials blockquote{
    padding: 1rem;
    margin: 10%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.76);
    border-radius: 0.25rem;
}

#testimonials blockquote h3{
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    margin-left: -33px;
}

#testimonials cite img{
    width: 13rem;
    height: auto;
    object-fit: cover;
    clip-path: circle();
    margin-top: 30px;
    margin-bottom: 30px;
}

#testimonials cite p{
    margin-left: -10px;
    font-size: 18px;
}

/****  swiper  ****/
.swiper-slide{
    height: auto;
    padding: 4rem 1rem;
}
.swiper-pagination-bullet {
    opacity: 0;
    visibility: hidden;
}

/**** Contact  ****/
section.contact{
    text-align: center;
    padding: 1rem 0;
    background: white;
}

section.contact h2{
    width: 100%;
    left: 50%;
    top: 50%;

    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-top: 4rem;
    margin-bottom: 1rem;
}

section.contact p{
    margin: 2rem 1rem;
}

/* whatsap */
section.contact .buttonzap{
    margin: 1rem 2rem;
    background-color: rgb(100, 158, 105);
    color: white;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem;
    transition: background 0.3s;
  }

section.contact .buttonzap:hover {
    background: rgb(3, 112, 12);
}

section.contact .buttonzap i{
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Lojinha */
section.contact .buttonloja{
    margin: 1rem 2rem;
    background-color: rgb(100, 111, 158);
    color: white;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem;
    transition: background 0.3s;

    margin-bottom: 4rem;
  }

section.contact .buttonloja:hover {
    background: rgb(3, 32, 112);
}

section.contact .buttonloja i{
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Intagram */
section.contact .buttoninst{
    margin: 1rem 2rem;
    background-color: rgb(184, 87, 100);
    color: white;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem;
    transition: background 0.3s;
  }

section.contact .buttoninst:hover {
    background: rgb(112, 3, 8);
}

section.contact .buttoninst i{
    margin-right: 10px;
    font-size: 1.5rem;
}

section.contact ul{
    margin: 2rem;
}

section.contact ul li{
    display: flex;
    margin: 1rem 0;
    align-items: center;
    user-select: text;
}
section.contact ul li i{
    margin-right: 10px;
    font-size: 1.5rem;
    color: rgb(32, 48, 117);
}

/***** Footer *****/
footer{
    background: #000000;
    padding: 30px 0;
    font-weight: bold;
    font-size: 11px;
}

footer p{
    color: white;
    text-transform: uppercase;
    width: 93%;
    color: white;
    left: 50%;
    top: 50%;
    text-align: center;
}
  
/* back-to-top */
.back-to-top{
    background: rgb(27, 40, 80);
    color: white;

    position: fixed;
    z-index: 3;
    right: 1rem;
    bottom: 1rem;

    padding: 0.5rem;
    clip-path: circle();

    font-size: 1.5;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


/********* Page Eventos **********/
#parties p.sub{
    font-size: 14px;
    margin-top: 40px;
}

#parties cite img{
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 30px;

    max-width: 900px;
    max-height: 500px;
}

#parties cite p{
    margin-left: -10px;
    font-size: 18px;
    margin-bottom: -7rem;
}

/********* Page Modalidades **********/
section.section .links a{
    margin: 10px 1rem;
    background-color: rgb(71, 97, 180);
    color: white;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 0.25rem;
}


#modalities cite img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    max-width: 650px;
    max-height: 600px;
}

#modalities cite p{
    font-size: 18px;
}

#modalities p{
    margin-bottom: 4rem;
}

#modalities .titulo h2{
    margin-top: 2rem;
    margin-bottom: -30px;
}

/********* Page Lojinhas **********/
#warning .card{
    padding: 1rem 0.5rem; 
    margin: 3rem 14%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
    border-bottom: 0.25rem solid rgb(19, 87, 212);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

#warning .card i{
    margin: 0 5px;
    color: rgb(41, 84, 223);
    font-size: 23px;
}

#store h3.title{
    margin-left: 17%;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(25, 49, 128);
}

#store h4.title{
    margin-top: 30px;
    margin-right: 15%;
    font-size: 17px;
    font-weight: 300;
}


/********* Page Hinos **********/
section.hinos{
    background-image: url("../images/abutre_back.png");
    position: relative;
}

section.hinos h2{
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 3rem;
    margin-bottom: 12rem;
    visibility: hidden;
    /* Depois colocar visibleee */
}

section.hinos .cards{
    padding: 5% 8%;
}

section.hinos .card{
    padding: 4rem 2rem; 
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76);
    border-bottom: 0.25rem solid rgb(255, 255, 255);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

section.hinos h3.title{
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 2rem;
}

section.hinos .cards img{
    position: absolute;
    left: 50%;
    top: 7.8%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    width: 400px;
    height: auto;
}

section.hinos .card p{
    color: white;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 1px;
}

/********* Page Parcerias **********/
#parcerias h3.title{
    display: block;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(26, 42, 114);
    margin-top: 10px;
    position: center;
}

@media screen and (max-width: 950px){
    #store h4.title{
        margin-right: 0;
    }
    
    #store h3.title{
        text-align: center;
        margin-right: 20%;
    }

    #parties cite img{
        margin-top: 10px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 900px;
    }
}