*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}
  
body{
    font: 400 1rem 'BM Plex Mono', monospace;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}
  
/*====  VARIABLES ============================ */
:root {
    --header-height: 4.5rem;
  
    /* colors */
    --f-color: rgb(7, 11, 44);
    --pri-color: rgb(0, 7, 68);
    --sec-color: rgb(21, 2, 129);
    --ter-color: rgb(2, 5, 177);
    --quar-color: rgb(10, 34, 173);
    --quin-color: rgb(0, 81, 255);
    --sex-color: rgb(0, 110, 255);
    --sev-color: rgb(248, 251, 255);
    --back-color: rgb(41, 41, 41);
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }

/**Estrutura**/
img{
    margin-top: 30px;
    width: 100%;
    max-width: 470px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding: 0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.divider-1 {
    height: 4px;
    background: linear-gradient(
    270deg,
    rgb(14, 5, 144),
    rgb(204, 221, 244)
    );
  }

  .divider-2 {
    height: 4px;
    background: linear-gradient(
    270deg,
    rgb(204, 221, 244),
    rgb(14, 5, 144)
    );
  }
/**Estilização do Site**/
header{
    padding: 20px 0;
    background: rgb(0, 19, 59);
    z-index: 2;
    width: 100%;
    position: fixed;
}

#header.scroll{
    box-shadow: 1px 1px 15px rgb(14, 4, 4);
}

header .logo{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 35px;
}

nav.desktop ul{
    position: relative;
    top: 10px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 20px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    color: var(--quin-color);
    font-size: 16px;
    transition: 1s;
} 
/* nav */
nav .menu{
    opacity: 0;
    visibility: hidden;
    font-size: 1px;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul{
    display: none;
}

/* mostrar menu */
 nav.show .menu{
    z-index: 4;
    opacity: 1;
    visibility: visible;

    background: rgb(179, 179, 179);

    height: 100%;
    width:  100%;
    position: fixed;

    top: 0;
    left: 0;
    display: grid;
    place-content: center;
} 

nav.show .menu ul{
    display: grid;
}

nav.show li{
    font: 700 var(--title-font-size) var(--title-font);
    -webkit-font-smoothing: auto;
    text-align: center;
    margin-top: 30%;
}

nav.show li a{
    color: rgb(0, 0, 0);
    transition: color 0.3s;
    position: relative;
}

nav.show li a:hover{
    color: rgb(23, 45, 170);
}

nav.show li a:after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(33, 55, 156);

    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 1s;
}

nav.show li a:hover::after{
    width: 100%;
}


/* Toggle menu */
nav .close{
    visibility: hidden;
    opacity: 0;
    top: -1rem;
    position: absolute;
    font-size: 35px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

nav.show .close{
    visibility: visible;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
    right: 1.5rem;
    top: 1.5rem;
}

nav .open{
    visibility: hidden;
    opacity: 0;
    font-size: 25px;
    right: 1.5rem;
    color: white;
}

    /** FINAL NAV  **/

section.banner-principal{
    width: 100%;
    height: 650px;
    background-image: url('../images/fotoback.jpg');
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(15, 15, 15, 0.76);
}

section.banner-principal .unimar{
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    color: white;
    width: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal .unimar h2{
    font-size: 110px;
}

section.banner-principal .unimar h3{
    color: var(--quin-color);
    font-size: 78px;
}

section.banner-principal .unimar p{
    font-size: 22px;
    color: var(--sev-color);
}

    /**  Risco  **/
section.risco{
    height: 70px;
    width: 100%;
    background: var(--pri-color);
}

section.risco h1{
    color: white;
    text-align: center;
    padding-top: 20px;
}

    /**  Page 2  **/

section.descricao-autor{
    padding-top: 40px;
    background: #f1f1f1;
    padding-bottom: 60px;
}

section.descricao-autor h2{
    font-size: 40px;
    font-weight: 900;
    padding-top: 50px;
    color: rgb(0, 0, 0);
}

section.descricao-autor p{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
}

    /**  -------------  page 3 --------------- **/

section.section{
    padding: 5rem 0;
    background: white;
    text-align: center;
}

section.section h2{
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

section p.principal{
    padding: 15px 40px;
    font-size: 16px;
}

section.section p strong{
    color: rgb(2, 60, 250);
    position: center;
}

section.section .cards{
    padding: 40px;
} 

section.section .card{
    padding: 3.625rem 2rem; 
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
    border-bottom: 0.25rem solid rgb(0, 68, 255);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
} 

section.section h3.title{
    font-size: 25px;
    font-weight: 900;
    padding: 17px 0;
} 

.card i{
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: rgb(0, 68, 255);
}


    /**  ----------------  Page 4 --------- **/

section.extras{
    background: #f1f1f1;
}

.depoimentos-container{
    padding: 0 40px;
}

section.extras .title{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 25px;
}

.depoimento-single{
    border-bottom: 1px solid #000000;
}

p.depoimento-descricao{
    font-size: 15px;
    color: var(--secundary-color);
    font-weight: 300;
}

p.nome-autor{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-weight: bold;
}

.servicos ul{
    margin: 20px 0;
}

.servicos li{
    margin-bottom: 15px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

footer{
    background: #000000;
    padding: 30px 0;
    font-weight: bold;
    font-size: 11px;
}

footer p{
    color: white;
    text-transform: uppercase;
    width: 93%;
    color: white;
    left: 50%;
    top: 50%;
    text-align: center;
}


  
@media screen and (max-width: 950px){
    nav.desktop{
        display: none;
    }

    nav.menu{
        display: block;
    }  
    
    nav .open{
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        margin-right: 15px;
    }
}

@media screen and (max-width: 950px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
    }
 
    .w50{
        padding: 20px;
        width: 100%;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }
    
    .box-principais{
        padding: 40px 20px;
        margin: 0;
    }
}

/* ------- testmonials  ------- */
#testimonials{
    background: white;
}
section h2.title{
    width: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}


#testimonials blockquote{
    padding: 1rem;
    margin: 12%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.76);
    border-radius: 0.25rem;
}
#testimonials blockquote p{
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
}

#testimonials cite img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    clip-path: circle();
    margin-top: 30px;
    margin-bottom: 30px;
}
